@use "./variables";

.cart-container {
	width: 100%;
	height: 100%;
	background-color: rgba(variables.$dark-light-color, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	.transparent {
		width: 100%;
		height: 100%;
		background-color: transparent;
	}

	.cart {
		padding: 28px 28px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		border-radius: 24px 24px 0px 0px;
		background-color: variables.$light-color;
		-webkit-border-radius: 24px 24px 0px 0px;
		-moz-border-radius: 24px 24px 0px 0px;
		-ms-border-radius: 24px 24px 0px 0px;
		-o-border-radius: 24px 24px 0px 0px;
		&-header {
			display: flex;
			flex-direction: column;
			gap: 8px;

			.lbl {
				font-size: 22px;
			}

			.percent {
				font-family: "gilroy-light", sans-serif;
				font-size: 16px;
			}

			.divider {
				margin-top: 8px;
			}
		}

		&-items {
			display: flex;
			flex-direction: column;
			gap: 16px;

			.lbl {
				font-size: 20px;
			}

			.variant__box {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;

				input {
					width: 100%;
					height: 100%;
					appearance: none;
					outline: none;
					cursor: pointer;
					border-radius: 2px;
					padding: 10px 0;
					background: transparent;
					color: black;
					font-size: 14px;
					transition: all 100ms linear;
					border: 2.2px solid variables.$primary-color;
					border-radius: 8px;
					margin: 6px 0;
				}

				input:checked {
					background: variables.$primary-color;
				}

				input:before {
					content: attr(label);
					display: inline-block;
					text-align: center;
					width: 100%;
				}

				.variant-name {
					position: absolute;
					top: 50%;
					left: 0;
					transform: translate(0, -50%);
					margin-left: 20px;
					cursor: pointer;
					text-transform: capitalize;
					font-size: 16px;
				}

				.variant-price {
					position: absolute;
					top: 50%;
					right: 0;
					transform: translate(0, -50%);
					margin-right: 20px;
					cursor: pointer;
					text-transform: capitalize;
					font-size: 16px;
				}
			}

			.item {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 16px 24px;
				border: 2px solid variables.$primary-color;
				border-radius: 16px;
				-webkit-border-radius: 16px;
				-moz-border-radius: 16px;
				-ms-border-radius: 16px;
				-o-border-radius: 16px;
			}
			.item-active {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-radius: 16px;
				padding: 16px 24px;
				background-color: variables.$primary-color;
			}
		}
		&-options {
			display: flex;
			flex-direction: column;
			gap: 12px;

			.lbl {
				font-size: 20px;
			}

			.item {
				width: 100%;
				display: flex;
				font-size: 18px;
				align-items: center;
				justify-content: space-between;

				span {
					font-family: "gilroy-light", sans-serif;
					font-size: 16px;
				}
			}
		}

		&-counter {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 16px;

			button {
				border: none;
				outline: none;
				background-color: variables.$primary-color;
				padding: 12px 20px;
				font-size: 24px;
				border-radius: 12px;
				-webkit-border-radius: 12px;
				-moz-border-radius: 12px;
				-ms-border-radius: 12px;
				-o-border-radius: 12px;
			}

			span {
				border-radius: 12px;
				padding: 12px 20px;
				font-size: 20px;
				border: 2px solid variables.$primary-color;
				-webkit-border-radius: 12px;
				-moz-border-radius: 12px;
				-ms-border-radius: 12px;
				-o-border-radius: 12px;
			}
		}

		.btn {
			text-align: center;
			border: none;
			color: variables.$dark-color;
			outline: none;
			padding: 16px 24px;
			background-color: variables.$primary-color;
			border-radius: 12px;
			font-size: 16px;
			-webkit-border-radius: 12px;
			-moz-border-radius: 12px;
			-ms-border-radius: 12px;
			-o-border-radius: 12px;
		}
	}
}

.item-checkbox {
	display: inline-block;
	font-size: 0;
}
.item-checkbox__input {
	display: none;
}
.item-checkbox__input:checked + .item-checkbox__label:after {
	opacity: 1;
}
.item-checkbox__label {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	cursor: pointer;
}
.item-checkbox__label:before {
	content: "";
	width: 16px;
	height: 16px;
	border: 2px solid;
	box-sizing: border-box;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 2px;
}
.item-checkbox__label:after {
	content: "\2713";
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	width: 16px;
	height: 16px;
	display: block;
	border-radius: 2px;
	overflow: hidden;
	text-align: center;
	opacity: 0;
	transition: 0.2s opacity;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}

.item-checkbox__label--orange:before {
	border-color: variables.$primary-color;
}
.item-checkbox__label--orange:after {
	background-color: variables.$primary-color;
	// color: ;
}
