@use "./variables";

.checkout {
	width: 414px;
	min-height: 896px;
	position: relative;
	background: variables.$light-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 12px;
	padding-top: 24px;
	padding-bottom: 100px;

	&-navigation {
		width: 100%;
		padding: 0px 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.label {
			font-size: 18px;
		}

		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50px;
			padding: 12px;
			background-color: variables.$gray-color;
			cursor: pointer;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			-ms-border-radius: 50px;
			-o-border-radius: 50px;

			&:hover {
				background-color: rgba(variables.$gray-color, 0.5);
			}
		}
	}

	&-header {
		padding: 16px 32px;
		display: flex;
		flex-direction: column;
		align-self: flex-start;
		gap: 4px;

		.heading {
			font-size: 14px;
		}

		.address {
			font-size: 12px;
			font-family: "gilroy-light", sans-serif;
		}
	}

	&-items {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: space-between;
		padding: 0px 24px;
		gap: 18px;

		.lbl {
			font-size: 18px;
		}

		.items {
			display: flex;
			flex-direction: column;
			gap: 20px;

			.item {
				display: flex;
				justify-content: space-between;
				&-desc {
					display: flex;
					flex-direction: column;
					display: flex;
					flex-direction: column;
					gap: 2px;

					.options {
						span {
							font-family: "gilroy-light", sans-serif;
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	&-add-notes {
		display: flex;
		width: 100%;
		padding: 0px 24px;
		flex-direction: column;
		gap: 20px;

		span {
			font-size: 18px;
		}

		textarea {
			border: 2px solid variables.$primary-color;
			padding: 16px;
			outline: none;
			font-family: "gilroy-light", sans-serif;
			border-radius: 12px;
			-webkit-border-radius: 12px;
			-moz-border-radius: 12px;
			-ms-border-radius: 12px;
			-o-border-radius: 12px;
		}
	}

	&-tbl-num {
		width: 100%;
		display: flex;
		margin-top: 16px;
		align-items: center;
		justify-content: center;
		gap: 20px;

		.lbl {
			font-size: 24px;
		}

		.num {
			font-size: 28px;
			padding: 16px;
			border: 2px solid variables.$primary-color;
			border-radius: 18px;
			-webkit-border-radius: 18px;
			-moz-border-radius: 18px;
			-ms-border-radius: 18px;
			-o-border-radius: 18px;
		}
	}

	&-confirm {
		width: 100%;
		display: flex;
		cursor: pointer;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 16px 24px;
		position: absolute;
		bottom: 0;
		font-size: 18px;
		background-color: variables.$primary-color;
	}
}

.divider {
	background-color: rgba(variables.$dark-light-color, 0.1);
	width: 100%;
	border-radius: 50px;
	height: 2px;
}
