@use "./variables";

.lang-container {
	width: 100%;
	z-index: 60;
	height: 100%;
	padding: 16px 24px;
	background-color: rgba(variables.$dark-light-color, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.lang {
		padding: 28px 32px;
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		border-radius: 24px 24px 24px 24px;
		background-color: variables.$light-color;
		-webkit-border-radius: 24px 24px 24px 24px;
		-moz-border-radius: 24px 24px 24px 24px;
		-ms-border-radius: 24px 24px 24px 24px;
		-o-border-radius: 24px 24px 24px 24px;

		&-heading {
			font-size: 24px;
		}

		&-icon {
			font-size: 56px;
			color: variables.$primary-color;
		}

		&-desc {
			text-align: center;
			font-size: 18px;
		}

		&-actions {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			gap: 8px;

			button {
				outline: none;
			}

			.btn {
				border: none;
				padding: 16px 20px;
				border: 2px solid variables.$primary-color;
				background: transparent;
				width: 100%;
				text-align: center;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				border-radius: 16px;
				-webkit-border-radius: 16px;
				-moz-border-radius: 16px;
				-ms-border-radius: 16px;
				-o-border-radius: 16px;

				&:hover {
					background-color: variables.$primary-color;
				}
			}
			.btn-active {
				border: none;
				padding: 16px 20px;
				border: 2px solid variables.$primary-color;
				background: variables.$primary-color;
				width: 100%;
				text-align: center;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				border-radius: 16px;
				-webkit-border-radius: 16px;
				-moz-border-radius: 16px;
				-ms-border-radius: 16px;
				-o-border-radius: 16px;
			}
			.submit {
				border: none;
				padding: 16px 20px;
				font-size: 14px;
				white-space: nowrap;
				color: variables.$dark-color;
				border: 2px solid variables.$primary-color;
				background: variables.$primary-color;
				border-radius: 16px;
				-webkit-border-radius: 16px;
				-moz-border-radius: 16px;
				-ms-border-radius: 16px;
				-o-border-radius: 16px;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				&:hover {
					background: transparent;
				}
			}
		}
	}
}
