@use "./variables";

.home {
	width: 414px;
	min-height: 896px;
	padding-top: 24px;
	background: variables.$light-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 100px;
	position: relative;
	gap: 12px;
	overflow-x: hidden;

	&-header {
		padding: 16px 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;

		.heading {
			font-weight: bold;
			font-size: 24px;
		}
		.address {
			font-family: "gilroy-light", sans-serif;
			font-size: 12px;
			text-align: center;
			font-weight: 300;
		}
	}
	&-categories {
		padding: 0px 24px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		gap: 12px;

		.category-active {
			background-color: variables.$primary-color;
			color: variables.$dark-color;
			cursor: pointer;
			padding: 14px 24px;
			text-align: center;
			border-radius: 20px;
			font-weight: 600;
			border: 2px solid variables.$primary-color;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			-ms-border-radius: 20px;
			-o-border-radius: 20px;
		}

		.category {
			padding: 14px 24px;
			border-radius: 20px;
			cursor: pointer;
			font-weight: 600;
			text-align: center;

			border: 2px solid variables.$primary-color;
			color: variables.$dark-color;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			-ms-border-radius: 20px;
			-o-border-radius: 20px;
		}
	}

	&-subcategories {
		display: flex;
		align-self: flex-start;
		width: 100%;
		cursor: grab;
		gap: 8px;
		white-space: nowrap;
		padding: 8px 32px;

		.subcategory {
			padding: 6px 4px;
			font-size: 18px;
			font-weight: 700;
		}

		.subcategory-active {
			padding: 6px 4px;
			font-size: 18px;
			font-weight: 700;
			border-bottom: 3px solid variables.$primary-color;
		}
	}

	.language {
		padding: 16px;
		display: flex;
		align-items: center;
		margin-left: 24px;
		position: absolute;
		bottom: 110px;
		align-self: flex-start;
		justify-content: center;
		font-size: 24px;
		background-color: variables.$primary-color;
		border-radius: 50px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		-ms-border-radius: 50px;
		-o-border-radius: 50px;
	}

	&-itemcard-container {
		padding: 16px 24px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;

		.product-not-found {
			font-size: 18px;
			justify-self: center;
		}
	}
}
