@use "./variables";

.itemcard {
	display: flex;
	width: 100%;
	gap: 16px;
	align-items: center;
	justify-content: space-between;
	border: 2px solid variables.$primary-color;
	padding: 16px 20px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;

	&-left {
		display: flex;
		flex-direction: column;
		gap: 4px;

		.heading {
			font-size: 18px;
		}

		.desc {
			font-family: "gilroy-light", sans-serif;
			font-size: 14px;
		}
	}

	&-right {
		font-size: 20px;
		white-space: nowrap;
	}
}
