@use "./variables";

.order {
	width: 414px;
	min-height: 896px;
	position: relative;
	background: variables.$light-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 12px;
	overflow-x: hidden;
	padding-top: 24px;

	&-navigation {
		width: 100%;
		padding: 0px 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.label {
			font-size: 18px;
		}

		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50px;
			padding: 12px;
			background-color: variables.$gray-color;
			cursor: pointer;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			-ms-border-radius: 50px;
			-o-border-radius: 50px;

			&:hover {
				background-color: rgba(variables.$gray-color, 0.5);
			}
		}
	}

	&-header {
		padding: 16px 32px;
		display: flex;
		flex-direction: column;
		align-self: flex-start;
		gap: 4px;

		.heading {
			font-size: 14px;
		}

		.address {
			font-size: 12px;
			font-family: "gilroy-light", sans-serif;
		}
	}

	&-categories {
		padding: 0px 0px;
		display: flex;
		width: 100%;
		padding: 0px 24px;
		align-items: center;
		gap: 12px;

		.category-active {
			background-color: variables.$primary-color;
			color: variables.$dark-color;
			padding: 14px 24px;
			border-radius: 20px;
			font-weight: 600;
			border: 2px solid variables.$primary-color;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			-ms-border-radius: 20px;
			-o-border-radius: 20px;
		}

		.category {
			padding: 14px 24px;
			border-radius: 20px;
			font-weight: 600;
			border: 2px solid variables.$primary-color;
			color: variables.$dark-color;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			-ms-border-radius: 20px;
			-o-border-radius: 20px;
		}
	}

	&-subcategories {
		display: flex;
		align-self: flex-start;
		width: 100%;
		cursor: grab;
		gap: 12px;
		white-space: nowrap;
		padding: 8px 32px;

		.subcategory {
			padding: 6px 4px;
			font-size: 18px;
			font-weight: 700;
		}

		.subcategory-active {
			padding: 6px 4px;
			font-size: 18px;
			font-weight: 700;
			border-bottom: 3px solid variables.$primary-color;
		}
	}

	&-items {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 16px 24px;

		.item {
			display: flex;
			flex-direction: column;
			gap: 4px;
			width: 100%;
			padding: 12px 20px;
			border-radius: 20px;
			border: 2px solid variables.$primary-color;

			.lbl {
				font-size: 12px;
				align-self: flex-start;
				border-radius: 10px;
				padding: 8px 12px;
				background-color: variables.$primary-color;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
			}

			&-name {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0px 4px;
				width: 100%;
			}

			img {
				width: 10%;
			}
		}
	}
}
