@use "./variables";

.statusbar {
	display: flex;
	width: 100%;
	position: relative;
	align-items: center;
	justify-content: space-between;
	padding: 16px 24px;
	color: variables.$dark-color;

	&-left {
		display: flex;
		align-items: center;
		gap: 16px;
		span {
			display: flex;
			align-items: center;
			font-family: "poppins", sans-serif;
			justify-content: center;
		}
	}
	&-right {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}
