@use "./styles/variables";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@font-face {
	font-family: gilroy-bold;
	src: url(./fonts/gilroy/Gilroy-ExtraBold.otf);
}
@font-face {
	font-family: gilroy-light;
	src: url(./fonts/gilroy/Gilroy-Light.otf);
}
* {
	font-family: "gilroy-bold", sans-serif;
	box-sizing: border-box;
}

body {
	background-color: variables.$gray-color;
	// padding: 32px 0px;
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}
